@import 'scss/_main.scss';

.buttonStyle {
  background-color: $md-color-blue-500;
  color: white;
  border: 1px solid $md-color-blue-900;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 0.9rem;
}
